.about {
  margin: 100px auto;
  width: 90%;

  h3 {
    color: var(--blue-color);
  }

  h2 {
    color: var(--black-color);
    max-width: 400px;
  }

  p {
    color: var(--gray-color);
    margin-bottom: 15px;
  }
}

.about-left {
  flex-basis: 40%;
  position: relative;
}

.about-right {
  flex-basis: 56%;
}

.play-icon {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-icon:hover {
  box-shadow: 0 0 10px 5px rgba(173, 216, 230, 0.7);
  border-radius: 50%;
}

/*-------- media query ---------*/

@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }

  .about-left {
    flex-basis: 100%;
    margin: 20px;
    order: 2;
  }

  .about-right {
    flex-basis: 100%;
  }
}
